<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="text/javascript">
        // Sağ tıklama engelleme
        document.addEventListener('contextmenu', function(e) {
            e.preventDefault();
        });

        // F12 tuşunu engelleme
        document.addEventListener('keydown', function(e) {
            if (e.key === 'F12') {
                e.preventDefault();
            }
        });
    </script>
</body>
</html>